<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<h2>Registration</h2>
<h3>Enter your credentials</h3>
<form th:action="@{/users/registration}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type='text' name='login' value=''/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='passwordHash'/></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type='email' name='email'/></td>
        </tr>
        <tr>
            <td colspan='2'><input class="button" type="submit" value="Create account"/></td>
        </tr>
    </table>
</form>
<div th:replace="fragments/footer.html"></div>
</body>
</html>