<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">USER INFO</div>
<div class="view-left">
    <table border="0" width="100%" margin-top="0px" class="td_list">
        <tr>
            <td width="25%">ID:</td>
            <td width="75%" th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>Login:</td>
            <td th:text="${user.login}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td>First name:</td>
            <td th:text="${user.firstName}"></td>
        </tr>
        <tr>
            <td>Middle name:</td>
            <td th:text="${user.middleName}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${user.lastName}"></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer.html"></div>
</body>
</html>