<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">PROJECT INFO</div>

<div class="view-main">
    <div class="view-left">
        <table border="0" width="100%" margin-top="0px" class="td_list">
            <tr>
                <td width="25%">ID</td>
                <td width="75%" th:text="${project.id}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${project.name}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td th:text="${project.description}"></td>
            </tr>
            <tr>
                <td>Creation date</td>
                <td th:text="${project.creationDate}"></td>
            </tr>
            <tr>
                <td>Start date</td>
                <td th:text="${project.startDate}"></td>
            </tr>
            <tr>
                <td>Complete date</td>
                <td th:text="${project.completeDate}"></td>
            </tr>
            <tr>
                <td>Creator</td>
                <td th:text="${creator}"></td>
            </tr>
        </table>
    </div>
    <div class="view-right">
        <div style="margin-top: 5px">
            <div class="td_list">
                Project's tasks:
            </div>
            <table border="1" width="100%" margin-top="0px" class="td_list">
                <tr>
                    <td class="table-head-p" width="40%">ID</td>
                    <td class="table-head-p" width="30%">Task Name</td>
                    <td class="table-head-p" width="30%">Description</td>
                </tr>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="margin-top: 5px">
    <a class="button" th:href="@{'/projects/update/' + ${project.id}}">Go to update</a>
</div>
<div style="margin-top: 5px">
    <a class="button" href="/projects/show">Go to project list</a>
</div>
<div th:replace="fragments/footer.html"></div>
</body>
</html>