<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">TASK UPDATE</div>
<form th:action="@{'/tasks/update/' + ${task.id}}" th:object="${task}" method="post">
    <div style="margin-top: 5px">Enter new task name:</div>
    <input type="text" name="name" th:value="${task.name}"/><br/>
    <div style="margin-top: 5px">Enter new task description:</div>
    <input type="text" name="description" th:value="${task.description}"/><br/>
    <input class="button" style="margin-top: 10px" type="submit" value="Update task"/>
</form>
<div th:replace="fragments/footer.html"></div>
</body>
</html>