<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">TASK INFO</div>
<div class="view-left">
    <table border="0" width="100%" margin-top="0px" class="td_list">
        <tr>
            <td width="25%">ID</td>
            <td width="75%" th:text="${task.id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${task.name}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${task.description}"></td>
        </tr>
        <tr>
            <td>Creation date</td>
            <td th:text="${task.creationDate}"></td>
        </tr>
        <tr>
            <td>Start date</td>
            <td th:text="${task.startDate}"></td>
        </tr>
        <tr>
            <td>Complete date</td>
            <td th:text="${task.completeDate}"></td>
        </tr>
        <tr>
            <td>ProjectId</td>
            <td th:text="${task.projectId}"></td>
        </tr>
    </table>
</div>
<div style="margin-top: 5px">
    <a class="button" th:href="@{'/tasks/update/' + ${task.id}}">Go to update</a>
</div>
<div style="margin-top: 5px">
    <a class="button" href="/tasks/show">Go to task list</a>
</div>
<div th:replace="fragments/footer.html"></div>
</body>
</html>