.table-head {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.td_list {
    padding-left: 5px;
    font-size: 20px;
}

.table-head-p {
    text-align: center;
    font-weight: bold;
}

.td_lp {
    padding-left: 5px;
}

.font {
    font-size: 25px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: lightseagreen;
}

table {
    border-collapse: collapse
}

.button {
    background-color: #121042;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;
}

.button:hover {
    background-color: #6c7075;;
}

.button:active {
    position: relative;
    top: 1px;
}

.header {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid black;
    background: #2c3e50;
}

.main {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.tm-main {
    width: 70%;
    padding-left: 5px;
    display: inline-block;
}

.tm-additional {
    width: 30%;
    display: inline-block;
}

.tm-projects {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.tm-tasks {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.main-text {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.main-message {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-main {
    width: 100%;
    display: table;
}

.view-left {
    width: 50%;
    display: table-cell;
}

.view-right {
    width: 50%;
    display: table-cell;
}

.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #2c3e50;
    border: 1px solid black;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    display: table;
}

.footer div {
    display: table-cell;
}

.user-info {
    width: 50%;
    text-align: right;
}