<div class="footer" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div style="width: 50%">
        Developed by: <a href="" class="main-text">Ermolaev Evgeniy</a>
    </div>
    <div style="width: 50%" sec:authorize="isAuthenticated()">
        <div style="width: 100%">
                Authenticated as: <span sec:authentication="name"></span>
            | <a class="main-text" href="/users/info">USER INFO</a> | <a class="main-text" href="/logout">LOGOUT</a>
        </div>
    </div>
</div>