<div class="header">
    <div class="main">
        <div class="tm-main">
            <a href="/" class="main-text">TASK-MANAGER</a>
        </div>
        <div class="tm-additional">
            <div class="tm-projects">
                <a href="/projects/show" class="main-text">PROJECTS</a>
            </div>
            <div class="tm-tasks">
                <a href="/tasks/show" class="main-text">TASKS</a>
            </div>
        </div>
    </div>
</div>